h1 {
  padding: 0%;
  margin: 0%;
  /* display: flex; */
  align-items: center;
  gap: 100%;
}
:hover.content {
  color: aqua;
}
body {
  background-color: aqua;
}
.ul {
  display: block;
  color: blue;
}
.uldiv {
  display: block;
}
